/* =================================================
   GLOBAL
================================================= */


*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{


width:100%;

height:100vh;


overflow:hidden;


font-family:

"Poppins",
Arial,
sans-serif;


background:

linear-gradient(
180deg,
#fff3fa,
#ffddeb
);


display:flex;

justify-content:center;

align-items:center;


}




/* =================================================
   PAGE SYSTEM
================================================= */


.page{


position:absolute;


width:100%;


height:100%;


display:flex;


justify-content:center;


align-items:center;


}



.hidden{

display:none!important;

}








/* =================================================
   FLOAT HEART
================================================= */


#heartsContainer{


position:fixed;


width:100%;


height:100%;


overflow:hidden;


pointer-events:none;


}




.float-heart{


position:absolute;


bottom:-30px;


color:#f18ab8;


animation:

floatHeart 8s linear forwards;


}




@keyframes floatHeart{


from{


transform:

translateY(0)
scale(.5);


opacity:.8;


}


to{


transform:

translateY(-110vh)
scale(1.3);


opacity:0;


}


}









/* =================================================
   DATE CARD
================================================= */


.date-card{


width:560px;


padding:55px;


background:white;


border-radius:35px;


text-align:center;


box-shadow:

0 30px 70px rgba(200,80,140,.2);


}




.date-card h1{


font-size:38px;


color:#cf5597;


margin-bottom:40px;


}




#dateInput{


width:100%;


height:80px;


border:none;


outline:none;


border-radius:20px;


background:#fde6f1;


font-size:40px;


text-align:center;


color:#c44b8d;


margin-bottom:35px;


}







.number-grid{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:20px;


}





.number-grid button{


height:85px;


border:none;


border-radius:50%;


background:#efbdd9;


color:white;


font-size:35px;


cursor:pointer;


transition:.3s;


}




.number-grid button:hover{


transform:scale(1.12);


background:#d866a1;


}









/* =================================================
   CLICK HEART
================================================= */


.click-heart{


position:absolute;


font-size:30px;


color:#ff5795;


pointer-events:none;


animation:

clickHeart .8s forwards;


}




@keyframes clickHeart{


0%{

transform:

scale(0);


opacity:0;


}


50%{

transform:

scale(1.5);


opacity:1;


}


100%{


transform:

translateY(-100px)

scale(.2);


opacity:0;


}


}









/* =================================================
   BIG HEART
================================================= */


#bigHeart{


position:fixed;


left:50%;


top:50%;


transform:

translate(-50%,-50%)

scale(0);


font-size:100px;


z-index:999;


}



.big-heart-animation{


animation:

bigHeartBoom 2s forwards;


}




@keyframes bigHeartBoom{


0%{


transform:

translate(-50%,-50%)

scale(0);


}


40%{


transform:

translate(-50%,-50%)

scale(5);


}



100%{


transform:

translate(-50%,-50%)

scale(25);


opacity:0;


}


}









/* =================================================
   GIFT
================================================= */

/* =================================================
   GIFT
================================================= */

#giftPage{
display:flex;
justify-content:center;
align-items:center;
}

#giftBox{
width:100%;
max-width:700px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
margin:0 auto;
}

.gift-wrapper{
width:100%;
display:flex;
justify-content:center;
align-items:center;
margin-bottom:30px;
}

.gift-box{
position:relative;
width:180px;
height:160px;
margin:0 auto;
transform-origin:center center;
animation:giftShake .5s infinite;
}

.gift-body{
position:absolute;
left:0;
right:0;
bottom:0;
margin:auto;
width:180px;
height:120px;
background:linear-gradient(135deg,#ff78ac,#d8337c);
border-radius:12px;
display:flex;
justify-content:center;
align-items:center;
font-size:70px;
box-shadow:0 25px 40px rgba(0,0,0,.18);
}

.gift-lid{
position:absolute;
top:0;
left:50%;
transform:translateX(-50%);
width:190px;
height:45px;
background:#ff91bb;
border-radius:12px;
transform-origin:center bottom;
}

@keyframes giftShake{
0%{
transform:rotate(0deg);
}
25%{
transform:rotate(6deg);
}
50%{
transform:rotate(-6deg);
}
75%{
transform:rotate(6deg);
}
100%{
transform:rotate(0deg);
}
}

.loading-wrapper{
width:300px;
height:12px;
background:#f1bfd8;
border-radius:999px;
overflow:hidden;
margin:12px auto 28px;
}

.loading-bar{
height:100%;
width:0;
background:linear-gradient(90deg,#ff5d99,#ffb0d1);
animation:loading 5s linear forwards;
box-shadow:0 0 16px rgba(255,93,153,.45);
}

@keyframes loading{
to{
width:100%;
}
}

#giftBox p{
margin-top:10px;
font-size:20px;
color:#222;
text-align:center;
}



/* MỞ NẮP HỘP QUÀ */
.gift-open .gift-lid{
animation:openLid 1s forwards;
}

@keyframes openLid{
0%{
transform:translateX(-50%) translateY(0) rotateX(0deg);
opacity:1;
}
100%{
transform:translateX(-50%) translateY(-80px) rotateX(120deg);
opacity:.55;
}
}












/* =================================================
   ENVELOPE SCENE
================================================= */


.letter-scene{


width:100%;


height:100%;


display:flex;


justify-content:center;


align-items:center;


}






/* =================================================
   ENVELOPE
================================================= */


.envelope{


position:relative;


width:520px;


height:350px;


cursor:pointer;


perspective:1200px;


}







.envelope-back{


position:absolute;


bottom:0;


width:100%;


height:340px;


background:#efa9cf;


border-radius:20px;


z-index:1;


}







/* =================================================
   LETTER INSIDE
================================================= */


#letter{


position:absolute;


left:35px;


bottom:35px;


width:450px;


min-height:290px;


background:white;


border-radius:25px;


padding:35px;


opacity:0;


transform:

translateY(20px);


z-index:2;


box-shadow:

0 25px 60px rgba(0,0,0,.18);


transition:.8s;


}





.letter-header{


font-size:17px;


color:#c35b98;


padding-bottom:15px;


border-bottom:

1px solid #f1c4dc;


margin-bottom:20px;


}





#letter h2{


color:#c05096;


font-size:30px;


margin-bottom:20px;


}




#letter p{


font-size:20px;


line-height:1.8;


color:#96507a;


}





#continueBtn{


margin-top:30px;


width:100%;


height:55px;


border:none;


border-radius:30px;


background:#bd579c;


color:white;


font-size:18px;


cursor:pointer;


}









/* =================================================
   PREVIEW PAPER
================================================= */


.letter-preview{


position:absolute;


top:40px;


left:10%;


width:80%;


height:100px;


background:white;


border-radius:15px;


display:flex;


justify-content:center;


align-items:center;


font-size:28px;


font-style:italic;


color:#d57aaa;


z-index:3;


}









/* =================================================
   ENVELOPE FRONT
================================================= */


.envelope-front{


position:absolute;


bottom:0;


width:100%;


height:350px;


background:#ffdef1;


border-radius:20px;


overflow:hidden;


z-index:5;


}





.envelope-front:before{


content:"";


position:absolute;


left:0;


bottom:0;


width:50%;


height:100%;


background:#f0b5d6;


clip-path:

polygon(
0 0,
100% 50%,
0 100%
);


}





.envelope-front:after{


content:"";


position:absolute;


right:0;


bottom:0;


width:50%;


height:100%;


background:#f0b5d6;


clip-path:

polygon(
100% 0,
0 50%,
100% 100%
);


}









/* =================================================
   FLAP
================================================= */


.envelope-flap{


position:absolute;


top:0;


width:100%;


height:250px;


background:#cf68ab;


clip-path:

polygon(
0 0,
50% 70%,
100% 0
);


transform-origin:top;


transition:

transform .9s cubic-bezier(.2,.8,.2,1);


z-index:10;


display:flex;


justify-content:center;


align-items:flex-start;


padding-top:35px;

border-radius:20px 20px 0 0;


}




.open-me{


font-size:26px;


font-weight:800;


color:white;


letter-spacing:3px;


}





/* SEAL */


.seal{


position:absolute;


top:120px;


left:50%;


transform:

translateX(-40%);


width:60px;


height:60px;


background:#e8465c;


border-radius:50%;


border:5px solid white;


z-index:20;


}








/* =================================================
   OPEN ENVELOPE
================================================= */


.envelope.opened 
.envelope-flap{


transform:

rotateX(180deg);


}



.envelope.opened 
.seal{


opacity:0;


}





.envelope.opened 
#letter{


opacity:1;


transform:

translateY(-180px);


z-index:50;


}











/* =================================================
   SONG
================================================= */


.couple-area{


text-align:center;


}





.couple-image{


width:280px;


border-radius:30px;


box-shadow:

0 30px 60px #0003;


}



#songTitle{


margin-top:30px;


font-size:32px;


color:#d65398;


}





.spotify-card{


width:420px;


margin-top:40px;


padding:12px;


background:white;


border-radius:25px;


box-shadow:

0 25px 50px #0003;


}



.spotify-card.show{


animation:

spotifyIn 1.3s;


}



@keyframes spotifyIn{


from{


opacity:0;


transform:

translateY(60px)
scale(.8);


}



to{


opacity:1;


transform:

translateY(0)
scale(1);


}


}









/* =================================================
   MUSIC BUTTON
================================================= */


.music-button{


position:fixed;


right:30px;


bottom:30px;


width:60px;


height:60px;


border:none;


border-radius:50%;


background:#c6539a;


color:white;


font-size:28px;


}









/* =================================================
   MOBILE
================================================= */


@media(max-width:600px){



.date-card{


width:90%;


padding:30px;


}



.envelope{


transform:

scale(.7);


}



#letter{


width:360px;


left:15px;


}



.spotify-card{


width:90%;


}


}